<div class="container-fluid pb-2" id='intro'>
    <div class="row justify-content-center align-content-center">       
        <div class="col-md-12 pl-0 pr-0 pt-3">
            <%= form_with(model: [movie, comment]) do |form| %>
                <p id="error" class="text-danger"></p>
                <div class="form-group">
                    <%= form.text_area :content , class: "form-control shadow-sm", rows: 5, id: "comment_content_#{movie.id}"%>
                </div>
                <div class="actions text-right mt-3">
                    <%= form.submit "Update comment", class: "submit-comment" %>
                </div>
            <% end %>
        </div>     
    </div>
</div>
